<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Recipe</title>
  </head>
  <body>
    <h1>Edit Recipe</h1>
    <form action="/recipes/<%= recipe._id %>?_method=PUT" method="post">
      <label>
        Name:
        <input name="name" required value="<%= recipe.name %>" />
      </label>

      <label>
        Instructions:
        <textarea name="instructions" required>
<%= recipe.instructions %></textarea
        >
      </label>

      <label>
        Ingredients:
        <textarea name="ingredients"><%= recipe.ingredients %></textarea>
      </label>
      <button>Update Recipe</button>
    </form>
  </body>
</html>
